body {background-color:rgba(0, 0, 0, 0.808);
}

h1 {color:red;
}

.ini {color:blue;
}

.ini {font-size: 200%
}

ul {font-size: 300%;
}

ul {background-color: #f10f1b
}

#imagem-um {width: 70%;
    border-style: solid;
    border-color: red;
